.table {
    display: block;
    width: 100%;
    overflow-x: auto;

}

table {

    max-width: 100%;
    overflow: auto;

    thead {
        th {
            background-color: #ddd;
        }
    }

    tbody {
        td {
            text-align: center;
        }
    }
}